.LogoPadrao{
    text-align: center;
    color: white;
    font-size: 50pt;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 0 rgba(32, 159, 0, 0.7);
    user-select: none;
}