.PaginaInicialLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PaginaInicial{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.PaginaInicialConteudo{
    display: flex;
    flex-direction: column;
}